# --- Core UI ---
gradio-rangeslider==0.0.8
gradio==5.44.1

# --- Numerik / ML-Stack ---
numpy>=2.0,<2.3
scipy==1.15.3
onnx==1.16.0
# WICHTIG: CUDA-12-kompatible Version
onnxruntime-gpu>=1.19.0

# --- CV / System ---
opencv-python==4.11.0.86
psutil==7.1.2

# --- Utils ---
tqdm==4.67.1
